NET "CLK"         LOC =  "S:PIN38";
NET "CLKD"			LOC =	 "S:PIN64";		

NET "FILA<7>"		LOC =  "S:PIN142";
NET "FILA<6>"     LOC =  "S:PIN139";
NET "FILA<5>"     LOC =  "S:PIN136";
NET "FILA<4>"     LOC =  "S:PIN134";
NET "FILA<3>"     LOC =  "S:PIN140";
NET "FILA<2>"     LOC =  "S:PIN138";
NET "FILA<1>"     LOC =  "S:PIN135";
NET "FILA<0>"     LOC =  "S:PIN133";

NET "COLUMNA<7>"	LOC =  "S:PIN119";
NET "COLUMNA<6>"	LOC =  "S:PIN117";
NET "COLUMNA<5>"	LOC =  "S:PIN115";
NET "COLUMNA<4>"  LOC =  "S:PIN113";
NET "COLUMNA<3>"  LOC =  "S:PIN118";
NET "COLUMNA<2>"  LOC =  "S:PIN116";
NET "COLUMNA<1>"  LOC =  "S:PIN114";
NET "COLUMNA<0>"  LOC =  "S:PIN112";
